/Code/packages
/Code/MySqlDemo.Web/obj
/Code/MySqlDemo.Web/bin
/Code/MySqlDemo.Web/MySqlDemo.Web.csproj.user
/Code/Common/obj
/Code/Common/bin
/Code/Common/Common.csproj.user
/Code/MySqlDemo.Entity/obj
/Code/MySqlDemo.Entity/bin
/Code/MySqlDemo.Web/Logs
